<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion ECサイト - 商品一覧</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>ProductsList</h1>
    </header>

    <main>
        <section class="product-list">
            <label for="sort-select">sort：</label>
            <select id="sort-select" name="sort" onchange="sortProducts(this.value)">
                <option value=""></option>
                <option value="price-high">商品価格高い順</option>
                <option value="price-low">商品価格低い順</option>
                <option value="name-az">商品名50音</option>
                <option value="review-rating">レビューの評価順</option>
                <option value="review-count">レビューの多い順</option>
            </select>
        </section>
        <div class="productsContainer">
            <% products.forEach(product=> { %>
                <div class="productBox">
                    <div class="productsImg"><a href="/<%= product.product_id %>"><img src="<%= product.product_imgUrl %>"
                                alt="<%= product.product_name %>"></a>
                    </div>
                    <div class="productName">
                        <a href="/<%= product.product_id %>">
                            <%= product.product_name %>
                        </a>
                    </div>
                    <div class="productPrice">
                        <%= product.product_price %> 円
                    </div>
                    <div class="rating-stars">
                        <% for (let i=0; i < product.avg_rating; i++) { %>
                            <span class="star">★</span>
                            <% } %>
                    </div>
                    <p>レビュー件数 <%= product.review_count %>件</p>
                </div>
                <% }); %>
        </div>
    </main>
    <script>
        function sortProducts(sortOption) {
            const currentUrl = window.location.href;
            const url = new URL(currentUrl);
            url.searchParams.set('sort', sortOption);

            window.location.href = url.toString();
        }

    </script>
</body>

</html>